body
{
	font-size:75%;
	vertical-align: top;
	direction: ltr;
	font-family: 'Century Gothic' , Tahoma, Arial;
	text-align: justify;
}


a:link, a:visited
{
	color: #FF6600;
}

h1, h2, h3, h4, h5
{
	color: #FF6600;
}


/* general map styles */
#browser_map_wrapper
{
	width: 700px;
	height: 600px;
	background-color: orange;
	border: 1px solid #cccccc;
	overflow: hidden;
	position: relative;
	font-family: "Century Gothic", Tahoma, Arial;
}

#map
{
	width: 100%;
	height: 100%;
	border-width: 0px;
	background-color: white;
	overflow: hidden;
}

/* popup related styles */
.olPopup
{
	overflow:inherit;
}

.olPopup *
{
	margin: 0px;
	padding:0px;
	font-size: 12px;
}

.olPopup a.close
{
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 28px;
	background: url(script/img/close.gif) no-repeat top left;
	margin: 0px;
	font-size: 1px;
	padding: 0px;
}

.olPopup a.close:hover
{
	background: url(script/img/close-hover.gif) no-repeat top left;
}

.olPopup .olPopupContent
{
	min-width:200px;
	background-color: #ffffff !important;
	padding: 1px !important;
	margin: 0px !important;
	font-size: 0.80em;
}

.olPopup .olPopupContent h2
{
	font-size: small;
	text-align: center;
	padding: 2px 0px 2px 0px;
	margin: 0px 6px 0px 6px;
	text-transform:capitalize;
}

.olPopup .olPopupContent table
{
	border-collapse:collapse;
	overflow: auto;
	padding: 0px;
}

.olPopupContent table td
{
	padding: 4px;
	border: 1px solid #cccccc;
}