@CHARSET "ISO-8859-1";
@font-face {
    font-family: 'picoblackregular';
    src: url('webfonts/picoblack-webfont.eot');
    src: url('webfonts/picoblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/picoblack-webfont.woff') format('woff'),
         url('webfonts/picoblack-webfont.ttf') format('truetype'),
         url('webfonts/picoblack-webfont.svg#picoblackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}