<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjetJEE</display-name>

        
  
  <servlet>
		<servlet-name>rdfgeneration</servlet-name>
		<servlet-class>com.gestion.controller.RDFModelServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rdfgeneration</servlet-name>
		<url-pattern>/generate</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>rdfquery</servlet-name>
		<servlet-class>com.gestion.controller.RDFQueryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rdfquery</servlet-name>
		<url-pattern>/rdfquery</url-pattern>
	</servlet-mapping>
	
	
	
	  <welcome-file-list>
                <welcome-file>/index.jsp</welcome-file>
        </welcome-file-list>
        
	  
</web-app>